<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to the Calculator</h1>
</div>
<div class="calculator">
  <input type="number" placeholder="0" />
  <div class="calculator-buttons">
    <button class="calculator-button clear">C</button>
    <button class="calculator-button divide">&divide;</button>

    <button class="calculator-button">7</button>
    <button class="calculator-button">8</button>
    <button class="calculator-button">9</button>
    <button class="calculator-button times">&times;</button>

    <button class="calculator-button">6</button>
    <button class="calculator-button">5</button>
    <button class="calculator-button">4</button>
    <button class="calculator-button minus">&minus;</button>

    <button class="calculator-button">3</button>
    <button class="calculator-button">2</button>
    <button class="calculator-button">1</button>
    <button class="calculator-button add">+</button>

    <button class="calculator-button">0</button>
    <button class="calculator-button equals">=</button>
  </div>
</div>
