<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to the Calculator</h1>
</div>
<div class="calculator">
  <div class="display" placeholder="0">Display!</div>
  <div class="calculator-buttons">
    <button class="c-button clear" (click)="clickButton()">C</button>
    <button class="c-button divide" (click)="clickButton()">&divide;</button>

    <button class="c-button" (click)="clickButton()">7</button>
    <button class="c-button" (click)="clickButton()">8</button>
    <button class="c-button" (click)="clickButton()">9</button>
    <button class="c-button times" (click)="clickButton()">&times;</button>

    <button class="c-button" (click)="clickButton()">4</button>
    <button class="c-button" (click)="clickButton()">5</button>
    <button class="c-button" (click)="clickButton()">6</button>
    <button class="c-button minus" (click)="clickButton()">&minus;</button>

    <button class="c-button" (click)="clickButton()">1</button>
    <button class="c-button" (click)="clickButton()">2</button>
    <button class="c-button" (click)="clickButton()">3</button>
    <button class="c-button add" (click)="clickButton()">+</button>

    <button class="c-button" (click)="clickButton()">0</button>
    <button class="c-button equals" (click)="clickButton()">=</button>
  </div>
</div>
