<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome to the Calculator</h1>
</div>
<div class="calculator">
  <div class="display" placeholder="0">Display!</div>
  <div class="calculator-buttons">
    <button class="c-button clear">C</button>
    <button class="c-button divide">&divide;</button>

    <button class="c-button">7</button>
    <button class="c-button">8</button>
    <button class="c-button">9</button>
    <button class="c-button times">&times;</button>

    <button class="c-button">4</button>
    <button class="c-button">5</button>
    <button class="c-button">6</button>
    <button class="c-button minus">&minus;</button>

    <button class="c-button">1</button>
    <button class="c-button">2</button>
    <button class="c-button">3</button>
    <button class="c-button add">+</button>

    <button class="c-button">0</button>
    <button class="c-button equals">=</button>
  </div>
</div>
